body {
    background: rgb(70, 142, 256);
    font-family: Arial, Helvetica, sans-serif;
    font: normal 20px;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.075);
}

footer {
    text-align: center;
    color: white;
    font-style: italic;
}
